<!DOCTYPE html>
<head>
    <title>Crear nuevos grados</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}

<div id="subGradeDiv">

    <form method="post" action="{% url 'CrearGrado' %}">
        {% csrf_token %}

        <div class="grid md:grid-cols-2 gap-6 mb-4">
            <div>
                <label class="text-sm font-medium">Grado Nombre</label>
                {{ form.grade_name }}
            </div>

            <div>
                <label class="text-sm font-medium">Descripción</label>
                {{ form.description }}
            </div>

            <div>
                <label class="text-sm font-medium">Grado Base</label>
                {{ form.grade_base }}
            </div>
        </div>

        <button class="SkolaghButton-orange">
            SUBIR SUBGRADO
        </button>
    </form>

</div>

{% endblock content %}