<!DOCTYPE html>
<head>
    <title>Crear nuevos grados</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}

<div id="subGradeDiv">

    <form method="post" action="{% url 'CreateGradeBase' %}">
        {% csrf_token %}

        <div id="gradeBaseDiv">
            {{ gradeForm.grade_name }}
            {{ gradeForm.description }}
            {{ gradeForm.grade_number }}
            {{ gradeForm.schedule_parts }}
        </div>

        <div class="hidden">
            {{ gradeForm.school }}
        </div>

        <button class="SkolaghButton-orange">
            SUBIR SUBGRADO
        </button>
    </form>

</div>

{% comment %} 
    Here, managers can add the grades templates that have been created
{% endcomment %}
{% for grade in gradesBase %}
    <div class="mt-6 bg-gray-50 p-4 rounded-lg border border-black">
        <div class="card mb-4">
            <div class="card-body">
                {% include "ui/titles/badge.html" with title=grade.grade_name badge=grade.schedule_parts %}
                <div class="student-grid p-8 mt-8">
                    {% for template in grade.gradetemplate_set.all %}
                        {% include "ui/cards/information.html" with name=template.name role="Grado Plantilla" subtitle="Descripcion por defecto:" description=template.description button_text="editar" button_id=template.pk color="green"%}
                        
                        <div id="information{{template.pk}}" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">                   
                            <div class="flex items-center justify-center min-h-screen">
                                <div class="bg-white border-2 border-black p-4 rounded-lg">
                                    <button onclick="closeVentana('information', '{{template.pk}}')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500">
                                        <p class="mr-4">cerrar</p>
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </button>
                                    
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <form method="post" action="{% url 'add_subject_template' template.pk %}">
                                                {% csrf_token %}

                                                <h5>Agrega una materia al grado {{ template.name }}</h5>
                                                <p>Intensidad horario diaria de {{template.grade_base.schedule_parts.hours}} horas</p>
                                                <p>Horas disponibles: {{ template.remaining_hours }}</p>


                                                <div class="form-group">
                                                    {{ subjectsTemplateForm.name.label_tag }}
                                                    {{ subjectsTemplateForm.name }}
                                                </div>

                                                <div class="form-group">
                                                    {{ subjectsTemplateForm.teachers.label_tag }}
                                                    {{ subjectsTemplateForm.teachers }}
                                                </div>

                                                <div class="form-group">
                                                    {{ subjectsTemplateForm.hourly_intensity.label_tag }}
                                                    {{ subjectsTemplateForm.hourly_intensity }}
                                                </div>

                                                <div class="form-group">
                                                    {{ subjectsTemplateForm.author.label_tag }}
                                                    {{ subjectsTemplateForm.author }}
                                                </div>

                                                <button type="submit" class="SkolaghButton-green">
                                                    Guardar materia
                                                </button>
                                            </form>

                                        </div>

                                        <div class="mt-8">
                                            <h5>Materias asignadas:</h5>
                                            <div class="mt-4 bg-slate-200 p-4 rounded-lg border border-black">
                                                {% for subject in template.subjects.all %}
                                                    <p>Nombre: {{ subject.name }}</p>
                                                    <p>Profesores: 
                                                        {% for teacher in subject.teachers.all %}
                                                            {{ teacher.first_name }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                    <p>Intensidad horaria: {{ subject.hourly_intensity }} horas</p>
                                                    <hr>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div>
                                            <h5>Estudiantes del curso:</h5>
                                            <div class="mt-4 bg-slate-200 p-4 rounded-lg border border-black">
                                                {% for student in template.students.all %}
                                                    {{ student.first_name }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    {% empty %}
                        <p>No tiene templates</p>
                    {% endfor %}
                </div>
                
                <button onclick="showVentana('information', '{{grade.pk}}G')" type="button" class="SkolaghButton-green">Crear Plantilla para los grados</button>
            </div>

        <div id="information{{grade.pk}}G" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">                   
            <div class="flex items-center justify-center min-h-screen">
                <div class="bg-white border-2 border-black p-4 rounded-lg">
                    <button onclick="closeVentana('information', '{{grade.pk}}G')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500">
                        <p class="mr-4">cerrar</p>
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                    
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form method="post" action="{% url 'create_grade_template' grade.pk %}">
                                {% csrf_token %}

                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        Crear grados para {{ grade.grade_name }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                    {{ gradeTemplateForm.as_p }}
                                    </div>

                                    <button class="SkolaghButton-green">
                                        Guardar
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{% endfor %}


<script src="{% static 'js/windows/modal_for.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/user_experience/cards/cards.css' %}">
<script src="{% static 'js/cards/students_cards.js' %}"></script>
{% endblock content %}