<!DOCTYPE html>
<head>
    <title>Crear nuevos grados</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}

<div id="subGradeDiv">

    <form method="post" action="{% url 'CreateGradeBase' %}">
        {% csrf_token %}

        <div id="gradeBaseDiv">
            {{ gradeForm.grade_name }}
            {{ gradeForm.description }}
            {{ gradeForm.grade_number }}
            {{ gradeForm.schedule_parts }}
        </div>

        <div class="hidden">
            {{ gradeForm.school }}
        </div>

        <button class="SkolaghButton-orange">
            SUBIR SUBGRADO
        </button>
    </form>

</div>

{% comment %} 
    Here, managers can add the grades templates that have been created
{% endcomment %}
{% for grade in gradesBase %}
    <div>
        <h3>{{ grade.grade_name }}</h3>
        <p>{{ grade.schedule_parts}}</p>
    </div>
{% endfor %}


{% endblock content %}