<!DOCTYPE html>
<head>
    <title>Crear nuevos grados</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}

<div id="subGradeDiv">

    <form method="post" action="{% url 'CreateGradeBase' %}">
        {% csrf_token %}

        <div id="gradeBaseDiv">
            {{ gradeForm.grade_name }}
            {{ gradeForm.description }}
            {{ gradeForm.grade_number }}
            {{ gradeForm.schedule_parts }}
        </div>

        <div class="hidden">
            {{ gradeForm.school }}
        </div>

        <button class="SkolaghButton-orange">
            SUBIR SUBGRADO
        </button>
    </form>

</div>

{% comment %} 
    Here, managers can add the grades templates that have been created
{% endcomment %}
{% for grade in gradesBase %}
    <div class="mt-6 bg-gray-50 p-4 rounded-lg border border-black">
        <div class="card mb-4">
            <div class="card-body">
                {% include "ui/titles/badge.html" with title=grade.grade_name badge=grade.schedule_parts %}

                {% for template in grade.gradetemplate_set.all %}
                    <div class="student-grid p-8 mt-8">
                        {% include "ui/cards/information.html" with name=template.name role="Grado Plantilla" subtitle="Descripcion por defecto:" description=template.description button_text="editar" button_id=template.pk %}
                        
                        <div id="information{{template.pk}}" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">                   
                            <div class="flex items-center justify-center min-h-screen">
                                <div class="bg-white border-2 border-black p-4 rounded-lg">
                                    <button onclick="closeVentana('information', '{{template.pk}}')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500">
                                        <p class="mr-4">cerrar</p>
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </button>
                                    
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <form method="post" action="#">
                                                {% csrf_token %}
                                                <h5>Edita la plantilla de tu grado!</h5>
                                            </form>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No tiene templates</p>
                {% endfor %}

                <button onclick="showVentana('information', '{{grade.pk}}G')" type="button" class="SkolaghButton-green">Crear Plantilla para los grados</button>
            </div>
        </div>

        <div id="information{{grade.pk}}G" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">                   
            <div class="flex items-center justify-center min-h-screen">
                <div class="bg-white border-2 border-black p-4 rounded-lg">
                    <button onclick="closeVentana('information', '{{grade.pk}}G')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500">
                        <p class="mr-4">cerrar</p>
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                    
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form method="post" action="{% url 'create_grade_template' grade.pk %}">
                                {% csrf_token %}

                                <div class="modal-header">
                                <h5 class="modal-title">
                                    Crear grados para {{ grade.grade_name }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body">
                                {{ gradeTemplateForm.as_p }}
                                </div>

                                <button class="btn btn-success">
                                    Guardar
                                </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>
{% endfor %}

<script src="{% static 'js/windows/modal_for.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/user_experience/cards/cards.css' %}">
<script src="{% static 'js/cards/students_cards.js' %}"></script>
{% endblock content %}