<!DOCTYPE html>
<head>
    <title>Calificaciones - Profesores</title>
</head>

{% extends 'base.html' %}

{% block content %}
{% load static %}

{% include "ui/titles/principal.html" with title="Calificaciones de los estudiantes" %}

{% for grade, students in students_by_grade.items %}
   {% include "ui/titles/subtitle.html" with subtitle=students|length|stringformat:"s"|add:" Estudiantes" title=grade.grade_name description="%suspendidos:" %}
    <div class="student-grid p-8 mt-8">
        {% for student in students %}
            {% include "ui/cards/users_cards.html" with image=student.photo.url name=student.get_full_name role="Student" subtitle="Academic Profile" description=grade.grade_name button_text="Ver estudiante" %}
        {% endfor %}
    </div>
{% endfor %}

<link rel="stylesheet" href="{% static 'css/user_experience/cards/cards.css' %}">
<script src="{% static 'js/cards/students_cards.js' %}"></script>

{% endblock content %}  
